extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Editer une tache
                .card-body
                    form( method="POST", action="/editer/" + tache.id + "?_method=PUT")
                        .form-group
                            label Editer une tache:
                            input.form-control#todo(type='text', value = tache.title, name="title")
                        button(type="submit").btn.btn-primary.btn-block Editer