extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Ajouter une tache
                .card-body
                    form(action="/ajouter", method="POST")
                        .form-group
                            label(for='todo') Ajouter une tache:
                            input.form-control#todo(type='text', name="title" #required)
                        input(type="submit", value="Ajouter").btn.btn-primary.btn-block

        .col-md-8
            table.table.table-striped
                thead
                    tr
                        th(scope='col') Id
                        th(scope='col') Tache(s)
                        th(scope='col') Editer
                        th(scope='col') Supprimer
                tbody
                    each tache in taches
                        tr
                            th(scope='row')= tache.id
                            td= tache.title
                            td
                                button.btn.btn-info Editer
                            td
                                form(method="POST", action="/supprimer/" + tache.id + "?_method=DELETE",)
                                    button.btn.btn-danger Supprimer
                    
