extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Ajouter une tache
                .card-body
                    form(action="/ajouter", method="POST")
                        .form-group
                            label(for='todo') Ajouter une tache:
                            input.form-control#todo(type='text', name="title" #required)
                        input(type="submit", value="Ajouter").btn.btn-primary.btn-block

        .col-md-8
            table.table.table-striped
                thead
                    tr
                        th(scope='col') Id
                        th(scope='col') Todo
                        th(scope='col') Editer
                        th(scope='col') Supprimer
                tbody
                    tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td mdo
                    tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td mdo
                    tr
                        th(scope='row') 3
                        td Larry
                        td The bird
                        td twitter
                    
